.header {
  position: relative;
  color: $ligthText;
  padding-top: 64px;
  @media #{$lg} {
    padding-top: 0;
  }

  &__head {
    @include isFlex(center, space-between);
    &-wrapper {
      padding: 17px 12px 22px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      background: $themeLightColor;
      box-shadow: $boxShadowCard;
      @media #{$sm} {
        padding: 17px calc(50vw - 258px) 22px;
      }
      @media #{$md} {
        padding: 17px calc(50vw - 363px) 22px;
      }
      @media #{$lg} {
        background: transparent;
        box-shadow: none;
        // position: relative;
        padding: 0;
      }
    }
    &-logo {
      @include bgImg('@~images/img/Group.svg', no-repeat, center, contain);
      width: 128px;
      height: 26px;
      @media #{$lg} {
        display: none;
      }
    }

    &-open-button {
      border: 2px solid transparent;
      z-index: 1;
      margin-right: -9px;

      @media #{$lg} {
        display: none;
      }
      &:hover,
      &:focus {
        border: 2px solid transparent;
      }
    }
  }
  &__nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: calc(100% - 70px);
    height: calc(100% + 70px);
    @include isFlex(center, space-between, column, nowrap);
    z-index: 1;
    background: $themeLightColor;
    padding: 50px 30px calc(50px + 70px);
    transition: $transition;

    @media #{$lg} {
      left: 0;
      width: 100%;
      margin: 0 auto;
      height: auto;
      flex-direction: row;
      padding: 16px calc(50vw - 475px);
      background: $themeLightColor;
      position: absolute;
      justify-content: space-between;
    }
    @media #{$xxl} {
      padding: 25px 90px;
    }
    @media #{$fourK} {
      padding: 25px 10%;
    }

    @media #{$landscape} and (max-width: 991px) {
      padding: 5% 30px calc(5% + 70px);
    }

    &:before {
      content: '';
      top: 0;
      right: 0;
      width: 0;
      height: 100%;
      background: $navOpacityBgInitial;
      position: absolute;
      transition: $transition;
    }

    &.isOpen {
      left: 0;
      &:before {
        content: '';
        right: -100vw;
        width: 100vw;
        background: $navOpacityBg;
      }
      .header__nav-btn {
        min-width: 190px;
      }
    }

    &-logo {
      @include bgImg('@~images/img/Group.svg', no-repeat, center, contain);
      width: 164px;
      height: 32px;
      @media #{$lg} {
        width: 227px;
        height: 54px;
        background-image: url('@~images/img/Group.svg');
      }
    }
    &-list {
      text-align: center;
      @include isFlex(center, space-between, column, nowrap);
      height: 33%;
      min-height: 120px;
      max-height: 200px;
      @media #{$md} {
        margin: 30px 0;
      }
      @media #{$lg} {
        height: 70px;
        min-height: 70px;
        flex-direction: row;
        margin: 0 50px 0 auto;
      }
      @media #{$xxl} {
        margin-right: 65px;
      }
    }

    &-item {
      @media #{$xxl} {
        margin: 0 23px;
      }
      &_mobile {
        @media #{$lg} {
          display: none;
        }
      }
    }

    &-anchor {
      @extend .header--link;
      font-size: $font;
      padding: 13px 15px 11px;
      display: inline-block;
      font-weight: 600;

      @media #{$lg} {
        font-size: $font;
      }
    }

    &-btn {
      width: 100%;
      @media #{$lg} {
        margin-top: -5px;
      }
      @media #{$lg} {
        width: auto;
        margin: 0;
      }
    }
    &.fixed {
      @media #{$lg} {
        position: fixed;
        padding-top: 18px;
        padding-bottom: 18px;
        box-shadow: $boxShadowCard;
  
        .header {
          &__nav-list {
            height: 60px;
            min-height: 60px;
          }
        }
      }
    }
    &_main {
      @media #{$lg} {
        background: transparent;
        .header__nav {
          &-logo {
            background-image: url('@~images/img/GroupWhite.svg');
          }
          &-anchor {
            @extend .header--link--reverse;
          }
        }
      }
      &.fixed,
      &.isOpen {
        background: $themeLightColor;
        .header__nav {
          &-logo {
            background-image: url('@~images/img/Group.svg');
          }
          &-anchor {
            @extend .header--link;
          }
        }
      }
    }
  }

  &__slider {
    &-number {
      position: absolute;
      bottom: 10%;
      right: 12px;
      font-family: $mont;
      font-size: 14px;
      font-weight: 600;
      @media #{$lg} {
        right: calc(50vw - 475px);
        font-size: 24px;
      }
      @media #{$xxl} {
        right: 90px;
        bottom: 11%;
      }
    }
    &-list {
      .section--filter {
        @media #{$md} {
          width: 41%;
        }
        @media #{$lg} {
          width: 37%;
        }
        @media #{$xxl} {
          width: 35%;
        }
      }
    }
  }

  &__slide {
    @include bgImg('@~images/bg/content_320.jpg', no-repeat, center, cover);
    height: calc(100vh - 63px);
    max-height: 1000px;
    position: relative;

    @media #{$lg} {
      height: 100vh;
    }

    .container,
    .row,
    .col {
      height: 100%;
    }

    &-content {
      display: block;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 100%;
      padding: 0 12px;
      @media #{$md} {
        padding: 0 9% 0 18%;
      }
      @media #{$lg} {
        padding: 0 12px;
      }
      @media #{$xxl} {
        padding: 3px 10% 0 10px;
      }
      &-heading {
        margin-top: -2em;
        @media #{$md} {
          margin-top: -0.6em;
        }
        @media #{$lg} {
          margin-top: -0.45em;
        }
        @media #{$xxl} {
          margin-bottom: 0.75em;
        }
      }
    }
  }
  &__content {
    padding: 75px 0 50px;
    @media #{$md} {
      padding: 95px 0;
    }
    @media #{$lg} {
      margin-top: 100px;
      padding: 80px 0;
    }
    &.center {
      @media #{$lg} {
        @include isFlex($direction: column);
        height: calc(100vh - 100px);
        max-height: 1000px;
      }
    }
    &-heading {
      @media #{$md} {
        font-size: $h2TabletLarge;
        em {
          display: block;
        }
      }
      @media #{$lg} {
        font-size: $h2Desk;
      }
    }
    &-intro {
      em {
        @media #{$md} {
          display: block;
        }
      }

      @media #{$lg} {
      }
    }
  }
  &__slider_support {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    height: calc(100vh - 63px);
    max-height: 1000px;
    width: 100%;
    @media #{$lg} {
      height: 100vh;
    }
    &-wrapper {
      width: 100%;
      position: relative;
    }
    .header {
      &__slide {
        background: none;
      }
    }
  }

  &__cookie {
    box-shadow: $boxShadowCardTop;
    position: fixed;
    bottom: 0;
    font-size: $fontSmall;
    left: 0;
    width: 100%;
    z-index: 100;
    background: $mainBgDark;
    color: $mainText;
    padding: 20px 0;
    line-height: 1.25em;
    @media #{$md} {
      font-size: $fontLess;
    }
    @media #{$lg} {
      font-size: $font;
      line-height: 1.5em;
    }
    &-policy {
      font-weight: 600;
      @extend %main-link-reverse;
    }
    &-btn {
      margin: 20px auto 0;
      display: block;
      @media #{$xl} {
        margin-right: 0;
        margin-top: 0;
      }
    }
  }

  &__tags {
    max-width: 500px;
  }
}
