.lists {
  &__heading {
    margin-top: 0.2em;
  }
  &__intro {
    margin-bottom: 42px;
    @media #{$md} {
      margin-bottom: 3em;
    }
    @media #{$md} {
      margin-bottom: 4em;
    }
  }
  &__col {
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    margin-bottom: 25px;
    @include isFlex(flex-start, left);
    @media #{$sm} {
      width: 50%;
      flex-direction: column;
    }
    @media #{$md} {
      width: 33.333%;
    }
    @media #{$lg} {
      width: 20%;
    }
    &-heading {
      font-size: $h4 * 1.33;
      @media #{$lg} {
        font-size: $h4Desk;
        margin-top: 17px;
      }
    }
  }
  &__content {
    padding-left: 12px;
    @media #{$sm} {
      padding-left: 0;
      padding-top: 20px;
    }
    @media #{$lg} {
      padding-top: 30px;
    }
  }
  &__img {
    @include bgImg('@~images/img/Frontend.svg', no-repeat, center, contain);
    width: 72px;
    height: 64px;
    @media #{$sm} {
      background-position: bottom center;
    }
    &_backend {
      background-image: url('@~images/img/Backend.svg');
    }
    &_mobile {
      background-image: url('@~images/img/Mobile.svg');
    }
    &_cloud {
      background-image: url('@~images/img/Cloud.svg');
    }
    &_databases {
      background-image: url('@~images/img/Databases.svg');
    }
  }
  &__list {
    padding: 0px 0 5px;
  }
  &__item {
    margin: 8px 0 16px;
    color: $secondText;
    @media #{$lg} {
      font-size: $font;
      margin-bottom: 14px;
    }
  }
}
