.services {
  padding-bottom: 88px;
  @media #{$md} {
    padding-bottom: 175px;
  }
  @media #{$lg} {
    padding-bottom: 152px;
  }
  &__article{
    display:block;
    &-heading, &-text{
      transition: $transition;
      color: $mainText;
    }
  }

  &__pattern {
    height: 778px;
    @media #{$md} {
      height: 994px;
    }
    @media #{$lg} {
      width: 64%;
      bottom: 60px;
      height: 410px;
    }
  }
  &__intro:last-child {
    margin-bottom: 20px;
    @media #{$md} {
      margin-bottom: 45px;
    }
    @media #{$lg} {
    }
  }
}
