.sitemap {
  $lineColor: #e5e7f1;

  @media #{$md} {
    padding: 53px 0;
  }
  @media #{$lg} {
    padding: 53px 0 78px;
  }
  a {
    display: inline-block;
    font-size: $font;
  }

  &__anchor,
  &__heading,
  &__item {
    @extend %after;
  }

  &__anchor,
  &__heading {
    &:after {
      width: 24px;
      height: 24px;
      left: 0;
    }
    &:before {
      height: 1px;
      width: 24px;
      left: -32px;
      background: $lineColor;
      @media #{$md} {
        width: 60px;
        left: -76px;
      }
      @media #{$lg} {
        width: 160px;
        left: -177px;
      }
    }
    &_main {
      &:before {
        content: none;
      }
    }
  }

  &__heading {
    padding-left: 32px;
    font-size: $fontLarge;
    color: $mainText;
    font-weight: 600;
    @extend %main-link;
    &:after {
      @include bgImg('@~images/img/folder.svg', no-repeat, center, contain);
    }
    &_main {
      &:after {
        @include bgImg('@~images/img/home.svg', no-repeat, center, contain);
      }
    }
  }

  &__anchor {
    padding-left: 32px;
    color: $mainText;
    @extend %main-link;
    &:after {
      @include bgImg('@~images/img/link.svg', no-repeat, center, contain);
    }
    &.sitemap__heading {
      padding-top: 11px;
      padding-bottom: 11px;
      padding-left: 32px;
    }
  }

  &__item {
    margin-top: 18px;
    @media #{$xxl} {
      margin-top: 32px;
    }

    &:after {
      left: 0;
      top: auto;
      transform: none;
      bottom: 18px;
      height: calc(100% - 52px);
      width: 1px;
      background: $lineColor;
      @media #{$md} {
        left: 12px;
      }
      @media #{$lg} {
      }
    }

    &:not(.sitemap__item_nochildrens) {
      & + .sitemap__item_nochildrens {
        margin-top: 11px;
      }
    }
    &_nochildrens {
      .sitemap__wrapper {
        &:after {
          content: none;
        }
      }
    }
    &_second {
      margin-top: 18px;
      @media #{$xxl} {
        margin-top: 32px;
      }
    }

    &_main {
      padding: 13px 0 3px;
      @media #{$md} {
        padding-left: 8px;
      }

      &:after {
        bottom: 22px;
        height: calc(100% - 68px);

        @media #{$md} {
          left: 20px;
        }
        @media #{$lg} {
          height: calc(100% - 72px);
        }
      }
    }
  }

  &__list {
    padding-left: 32px;
    padding-top: 13px;
    @media #{$md} {
      padding-left: 90px;
    }
    @media #{$lg} {
      padding-left: 190px;
    }
    &_second {
      padding-top: 8px;
      padding-bottom: 10px;
    }
  }
}
