#contacts__page {
  .header__content {
    @include bgImg('@~images/bg/software320.jpg', no-repeat, center, cover);
    @media #{$md} {
      background-image: url('@~images/bg/contacts768.jpg');
    }
    @media #{$lg} {
      padding: 105px 0 120px;
      background-image: url('@~images/bg/development1200.jpg');
    }
  }

  .mainform {
    background: $themeLightColor;
    padding-bottom: 100px;
    @media #{$md} {
      padding-bottom: 200px;
    }
    @media #{$lg} {
    }
    .section--pattern--bottom-right {
      z-index: 0;
    }
    &__heading,
    &__intro {
      color: $mainText;
    }
    &__form {
      background: $mainBgDark;
    }
    &__input,
    &__select,
    &__textarea {
      background: $mainBgDark;
    }
    &__drag-files {
      background: $themeLightColor;
    }
    // &__label {
    //   border-bottom: 2px solid $darkBorder;
    //   input,
    //   select,
    //   textarea {
    //     &:focus,
    //     &.full,
    //     &.inValid {
    //       & + div {
    //         color: $themeColor;
    //       }
    //     }
    //   }
    // }

    // &__input-support {
    //   color: $mainText;
    // }
  }
}
