/* src/assets/styles/pages/_sitemap.scss  */

#sitemap__page {
  .header__content {
    background: $mainBgDark;
    padding: 67px 0 70px;
    @media #{$md} {
      padding: 125px 0 117px;
    }
    @media #{$lg} {
      padding: 114px 0;
    }
    &-heading,
    &-intro {
      color: $mainText;
    }
  }
}
