/* src/assets/styles/components/_link.scss  */

.main--link {
  @extend %main-link;
}

.header--link {
  @extend %header-link;
}

.header--link--reverse {
  @extend %header-link-reverse;
}

.second--link {
  @extend %main-link-underline;
}

.footer--link {
  @extend %footer-link;
}

.footer--static--link {
  @extend %footer-link;
}

%main-link-underline {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  transition: $transition;
  overflow: hidden;
  @extend %after;

  &:before {
    top: 50%;
    left: 50%;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba($themeColor, 0.1);
    transform: translate(-50%, -50%);
  }

  &.active,
  &:hover,
  &:focus {
    border-bottom: 2px solid $linkHover;
  }
  &:active {
    &:before {
      width: 120%;
      padding-top: 120%;
      transition: width 0.2s ease-out, padding-top 0.2s ease-out;
    }
  }
}

%footer-link {
  transition: $transition;
  &:hover,
  &:focus {
    color: $themeColor;
  }
  &:active {
    color: $themeDarkColor;
  }
}

%main-link {
  transition: $transition;
  &:hover,
  &:focus {
    color: $themeColor;
  }
  &:active {
    color: $themeDarkColor;
  }
}

%main-link-reverse {
  transition: $transition;
  color: $themeColor;
  &:hover,
  &:focus {
    color: $themeSecondaryColor;
  }
  &:active {
    color: $themeDarkColor;
  }
}

%header-link-reverse {
  transition: $transition;
  color: $themeLightColor;
  &:hover,
  &:focus {
    color: $themeColor;
  }
  &:active {
    color: $mainText;
  }
}

%header-link {
  transition: $transition;
  color: $mainText;
  &:hover,
  &:focus {
    color: $themeSecondaryColor;
  }
  &:active,
  &.active {
    color: $themeDarkColor;
  }
}

.ul--item {
  font-size: $fontLess;
  display: block;
  line-height: 2em;
  color: $secondText;
  padding-left: 20px;
  @extend %after;
  @media #{$md} {
    font-size: $font;
  }
  &:after {
    width: 10px;
    height: 10px;
    border: 7px solid transparent;
    border-left-color: $themeColor;
    left: 2px;
    top: 7px;
    display: block;
    transform: scale(1, 0.75);
  }
}
